<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
$(document).ready(function(){
  $('#generateButton').click(function(){
    var inputText = $('#inputText').val();
    var apiKey = $('#apiKey').val();
    var questionCount = $('#questionCount').val();

    var requestData = {
      inputText: inputText,
      apiKey: apiKey,
      questionCount: questionCount
    };

    $('#generateButton').prop('disabled', true);

    axios.post('/api/generateQuestions', requestData)
      .then(function途中で切れてしまったようです。以下にJavaScriptのコードを完全な形で提示します：

```html
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
$(document).ready(function(){
  $('#generateButton').click(function(){
    var inputText = $('#inputText').val();
    var apiKey = $('#apiKey').val();
    var questionCount = $('#questionCount').val();

    var requestData = {
      inputText: inputText,
      apiKey: apiKey,
      questionCount: questionCount
    };

    $('#generateButton').prop('disabled', true);

    axios.post('/api/generateQuestions', requestData)
      .then(function(response) {
        var questions = response.data;
        $('#questions').empty();
        for(var i=0; i<questions.length; i++) {
          $('#questions').append('<li>' + questions[i] + '</li>');
        }
        $('#generateButton').prop('disabled', false);
      })
      .catch(function(error) {
        console.error(error);
        $('#generateButton').prop('disabled', false);
      });
  });

  $('#downloadButton').click(function(){
    var questions = $('#questions').children().map(function(){
      return $(this).text();
    }).get().join('\n');

    var csvContent = 'data:text/csv;charset=utf-8,' + encodeURI(questions);
    var link = document.createElement('a');
    link.setAttribute('href', csvContent);
    link.setAttribute('download', 'questions.csv');
    document.body.appendChild(link);
    link.click();
  });
});
</script>
<body>
    <h1>Welcome to my website!</h1>
</body>
</html>
